@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: #3b82f6;
  --font-display: "Inter", sans-serif;
  --animate-pulse-slow: pulse 6s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

:root {
  --background: #f8fafc;
  --foreground: #0f172a;
}

body {
  background-color: #f8fafc;
  color: #0f172a;
  font-family: var(--font-display);
  -webkit-font-smoothing: antialiased;
  overscroll-behavior-y: none;
}

.dark body,
.dark html {
  background-color: #020617;
  /* Matches slate-950 */
  color: #f8fafc;
}

/* Custom Sleek Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}

.dark ::-webkit-scrollbar-thumb {
  background: #1e293b;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: #334155;
}

@layer utilities {

  .scrollbar-hide::-webkit-scrollbar,
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide,
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* Hide number input spinners */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}